/* tag = langsung, id = #, class . */

body{
    height: 100%;
    width: 100%;
}
#Container {
    height: 800px;
    width: 70%;
    margin: auto;
    background-color: lightblue;
}

#header {
    width: 100%;
    height: 20%;
    background-color: pink;
}

#content {
    height: 60%;
    width: 100%;
    background-color: lightgreen;
}

#footer {
    height: 20%;
    width: 100%;
    background-color: burlywood;
}

.wrapper {
    background-color: brown;
}